{% extends 'smt_smpo_dashboard/main_navbar.html' %}
{% block content%}

<div class="jumbotron">
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>AOA Assigned</b></h2></center>
    <table class="table" style="font-size:small;">
        <thead class="thead-dark" style="background-color: #3FABAF;">
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">Retailer</th>
              <th scope="col">MarketPlace</th>
              <th scope="col">ProductType</th>
              <th scope="col">RDA</th>
              <th scope="col">Auditor</th>
              <th scope="col">Sanity Path</th>
              <th scope="col">CurrentStatus</th>
              <th scope="col">ChangeStatus</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                {% for obj in aoa %}
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="form_type" value="Assigned">
                    <input type="hidden" name="id" value="{{obj.website_id}}">
                    <td>{{forloop.counter}}</td>
                    <td>{{obj.domain}}</td>
                    <td>{{obj.marketplace}}</td>
                    <td>{{obj.product_type}}</td>
                    <td>{{obj.rda}}</td>
                    <td>{{obj.auditor}}</td>
                    <td><a href="{{obj.drive_path}}">path</a></td>
                    <td>{{obj.aoa_status}}</td>
                    <td><select name="ChangeStatus">
                            <option value='WIP'>WIP</option>
                        </select>
                    </td>
                    <td><button type="submit" style="background-color: #3FABAF;">save</button></td>  
                </tr>
                </form> 
                {% endfor %}

        </tbody>
    </table>


    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>AOA WIP</b></h2></center>
    <table class="table" style="font-size:small;">
        <thead class="thead-dark" style="background-color: #3FABAF;">
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">Retailer</th>
              <th scope="col">MarketPlace</th>
              <th scope="col">ProductType</th>
              <th scope="col">RDA</th>
              <th scope="col">Auditor</th>
              <th scope="col">Sanity Path</th>
              <th scope="col">CurrentStatus</th>
              <th scope="col">ChangeStatus</th>
              <th scope="col">ErrorFound</th>
              <th scope="col">No.of Infected DP's</th>
              <th scope="col">No. of Patterns</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in aoa_WIP %}
            <form method="POST" class="post-form" style="box-sizing: content-box" name="aoa_table2">
                {% csrf_token %}
                <tr>
                    <input type="hidden" name="form_type" value="WIP">
                    <input type="hidden" name="id" value="{{obj.website_id}}">
                    <td>{{forloop.counter}}</td>
                    <td>{{obj.domain}}</td>
                    <td>{{obj.marketplace}}</td>
                    <td>{{obj.product_type}}</td>
                    <td>{{obj.rda}}</td>
                    <td>{{obj.auditor}}</td>
                    <td><a href="{{obj.drive_path}}">path</a></td>
                    <td>{{obj.aoa_status}}</td>
                    <td><select name="ChangeStatus" required>
                            <option value="Completed">Completed</option>
                        </select>
                    </td>
                    <td><select name="ErrorFound" required>
                        <option value="" select disabled>-select-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><input type="number" name="number" required></td>
                    <td><input type="number" name="pattern" required></td>
                    <td><button type="submit" style="background-color: #3FABAF;">save</button></td>    
                </tr>
            </form>
                {% endfor %}
        </tbody>
    </table>
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>AOA Completed</b></h2></center>
    <table class="table" style="font-size:small;">
        <thead class="thead-dark" style="background-color: #3FABAF;">
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">Retailer</th>
              <th scope="col">MarketPlace</th>
              <th scope="col">ProductType</th>
              <th scope="col">RDA</th>
              <th scope="col">Auditor</th>
              <th scope="col">Sanity Path</th>
              <th scope="col">AOAStatus</th>
              <th scope="col">ErrorFound</th>
              <th scope="col">No.of Infected DP's</th>
              <th scope="col">No. of Patterns</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in aoa_com %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{obj.domain}}</td>
                    <td>{{obj.marketplace}}</td>
                    <td>{{obj.product_type}}</td>
                    <td>{{obj.rda}}</td>
                    <td>{{obj.auditor}}</td>
                    <td><a href="{{obj.drive_path}}">path</a></td>
                    <td>{{obj.aoa_status}}</td>
                    <td>{{obj.error_found}}</td>
                    <td>{{obj.no_of_infectedDP}}</td>
                    <td>{{obj.no_of_pattern}}</td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}