{% extends 'smt_smpo_dashboard/lead_base.html' %}
{% block headcontent %}
<title>Asins</title>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div id="container">
        <center><h2 style="font-weight: bolder; color: #FD5825;">Add Asin Details</h2></center>
        <table class="table">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Associate</th>
                  <th scope="col">Date</th>
                  <th scope="col">Phase</th>
                  <th scope="col">Asins Processed</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                    <tr>
                        <td><select name="sme" required>
                            <option value="" selected disabled>--select--</option>
                            {% for op in ass_list %}
                                <option value="{{op}}">{{op}}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td><div class="form-row"><input type="date" class="hide-replaced" name="dt" width="276" /></div></td>
                        <td><select name="phase" required>
                            <option value="" selected disabled>--select--</option>
                            {% for op in PHASE %}
                                <option value="{{op}}">{{op}}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td><input name="asin" type="number" /></td>
                        <td><button type="submit" style="background-color: #3FABAF;">ADD</button></td>
                    </tr>
                </form>
            </tbody>
        </table>       
    </div>
    <div id="form">
        <h2 class="text-center text-black pt-5"><b><font color="#F26627">Upload Asin Done File</font></b></h2>
            <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="hidden" name="form_type" value="exl">
                            <center><h4 class="text-center text-info"></h4></center>
                            <div class="form-group">
                                <label for="website_name" class="text-info">Select file to be uploaded:</label><br>
                                <input type="file" name="file_name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                    </form>
                   <p><font color='red'>{{ order }}</font></p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center><h2 style="font-weight: bolder; color: #FD5825;">Asins View</h2></center>
    <div style="float:right">
        <form method="POST" class="post-form" style="box-sizing: content-box">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="phase">
            <div class="form-group">
                <label for="Phase" class="text-info">Phase</label>
                <select name="phase">
                    <option value="" selected disabled>--select--</option>
                    {% for taskL in PHASE %} 
                    <option value="{{taskL}}">{{taskL}}</option>
                    {% endfor %}   
                    </select>
            </div>
            <div class="form-group" style="float:right">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" style="background-color: #3FABAF;">
            </div>
        </form>
    </div>
    <table class="table" style="font-size:small;">
        <thead class="thead-dark" style="background-color: #3FABAF;">
            <tr>
                <th scope="col">Sl.no</th>  
                <th scope="col">Associate</th>
                <th scope="col">Date</th>
                <th scope="col">Phase</th>
                <th scope="col">Asins Processed</th>
            </tr>
        </thead>        
        <tbody>
            {% for uob in ob %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{uob.user}}</td>
                <td>{{uob.timestamp}}</td>
                <td>{{uob.phase}}</td>
                <td>{{uob.Task}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}