{% extends 'smt_smpo_dashboard/lead_base.html' %}
{% block headcontent %}
<title>AuditQueue</title>
{% endblock %}
{% block content %}
<div id="form">
        <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                <form id="login-form" class="form" action="" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="website_name" class="text-info">Auditor</label>
                            <select name="rda" required>
                                <option value="" selected disabled>Please select</option>
                                {% for taskL in AUDITOR %} 
                                <option value="{{taskL}}">{{taskL}}</option>
                                {% endfor %}   
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="website_name" class="text-info">Phase</label>
                            <select name="phase" required>
                                <option value="" selected disabled>Please select</option>
                                {% for taskL in PHASE %} 
                                <option value="{{taskL}}">{{taskL}}</option>
                                {% endfor %}   
                                </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" style="background-color: #3FABAF;">
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: transparent">
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Audit Details:</b></h2></center>
        <table class="table" style="font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Sl.no</th>  
                  <th scope="col">Auditor</th>
                  <th scope="col">RDA</th>
                  <th scope="col">Domain</th>
                  <th scope="col">Marketplace</th>
                  <th scope="col">ProductType</th>
                  <th scope="col">Status</th>
                  
                </tr>
            </thead>
            
            <tbody>
                {% for uob in det_obj %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{uob.auditor}}</td>
                    <td>{{uob.rda}}</td>
                    <td>{{uob.domain}}</td>
                    <td>{{uob.marketplace}}</td>
                    <td>{{uob.product_type}}</td>
                    <td>{{uob.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}