{% extends 'smt_smpo_dashboard/main_navbar.html' %} 
{% block headcontent %}
<title>Backfill_Metrics</title>
{% endblock %}
{% block content%}
<div class="jumbotron">
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Metrics update - Backfill</b></h2></center>
    <div style="overflow-x: scroll;margin-left: 5em;overflow-y: visible;padding: 0;">
        <table class="table" style="border-collapse: separate; border-spacing: 0; border-top: 1px solid grey;font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col" style="position: absolute;column-width: inherit;width: 5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">Brand</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Website</th>
                  <th scope="col">Backfill Status</th>
                  <th scope="col">No of PTs</th>
                  <th scope="col">No of Source_attributes</th>
                  <th scope="col">No of PT+Target_attributes</th>
                  <th scope="col">Backfill Comments</th>
                </tr>
            </thead>
            
            <tbody>
                {% for uob in obj %}
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="id" value="{{uob.bid}}">
                    <td style="position: absolute;column-width: inherit;width:5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">{{uob.brand}}</td>
                    <td></td>
                    <td></td>
                    <td>{{uob.website}}</td>
                    <td><input type="text" name="backfill_status" required></td>
                    <td><input type="text" name="backfill_pt_count" required></td>
                    <td><input type="text" name="backfill_source_attributes_count" required></td>
                    <td><input type="text" name="backfill_pt_target_attributes_count" required></td>
                    <td><input type="text" name="backfill_comments" required></td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}


