{% extends 'smt_smpo_dashboard/main_navbar.html' %} 
{% block headcontent %}
<title>Crawl</title>
{% endblock %}
{% block content%}
<div class="jumbotron">
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Crawl-Scrape Details</b></h2></center>
    <p>
    <ul>
        <li><font color="red">com1 : Is PE crawl (without UA commands (excluding "pause" command)) needed to crawl the website?</font></li>
        <li><font color="red">com2 : Is PE crawl (with UA commands)</font></li>
        <li><font color="red">com3 : Is it a JP retailer?</font></li>
        <li><font color="red">com4 : Do we have to perform multiple container for the same page?</font></li>
        <li><font color="red">com5 : Is mandatory data points available in unstructured text?</font></li>
        <li><font color="red">com6 :  Do we have more than 4 scrape layouts?</font></li>
    </ul>
    </p>
    <div style="overflow-x: scroll;margin-left: 5em;overflow-y: visible;padding: 0;">
        <table class="table" style="border-collapse: separate; border-spacing: 0; border-top: 1px solid grey;font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col" style="position: absolute;column-width: inherit;width: 5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">Website</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Marketplace</th>
                  <th scope="col">ProductType</th>
                  <th scope="col">Crawl Job Id</th>
                  <th scope="col">Crawl Type</th>
                  <th scope="col">Crawl Coverage(in%)</th>
                  <th scope="col">No. of URL's Crawled</th>
                  <th scope="col">com1</th>
                  <th scope="col">com2</th>
                  <th scope="col">com3</th>
                  <th scope="col">com4</th>
                  <th scope="col">com5</th>
                  <th scope="col">com6</th>
                  <th scope="col">Scrape Selection Size</th>
                  <th scope="col">No. of CPID Shared mandatory</th>
                  <th scope="col">No. of CPID Shared without mandatory</th>
                  <th scope="col">Drive Path</th>
                  <th scope="col">Partial Data</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Website Type</th>
                  <th scope="col">Website Entry</th>
                  <th scope="col">Website ID</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody>
                {% for uob in obj %}
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="id" value="{{uob.website_id}}">
                    <td style="position: absolute;column-width: inherit;width:5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">{{uob.domain}}</td>
                    <td></td>
                    <td></td>
                    <td>{{uob.marketplace}}</td>
                    <td>{{uob.product_type}}</td>
                    <td><input type="text" name="job" required></td>
                    <td><select name="ctype" required>
                        <option value="nil">--Select--</option>
                        <option value="Hybrid">Hybrid</option>
                        <option value="Normal">Normal</option>
                        <option value="Adhoc">Adhoc</option>
                        <option value="Search">Search</option>
                        </select>
                    </td>
                    <td><input type="text" name="coverage" required></td> 
                    <td><input  type="text" name="url" required></td>
                    <td><select name="com1" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><select name="com2" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><select name="com3" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><select name="com4" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><select name="com5" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><select name="com6" required>
                        <option value="nil">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td> 
                    <td><input type="text" name="selection" required></td>
                    <td><input type="text" name="cpid1" required></td>
                    <td><input type="text" name="cpid2" required></td>
                    <td><input type="text" name="drive" required></td>
                    <td><select name="partial" required>
                        <option value="">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        </select>
                    </td>
                    <td><input  type="text" name="comments"></td>
                    <td><select name="wtype" required>
                        <option value="nil">--Select--</option>
                        <option value="Manufacturer">Manufacturer</option>
                        <option value="Competitor">Competitor</option>
                        </select>
                    </td>
                    <td><input type="text" name="entry" required></td>
                    <td><input type="text" name="web_id" required></td>
                    <td><button type="submit" style="background-color: #3FABAF;">save</button></td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}


