{% extends 'smt_smpo_dashboard/lead_base.html' %}
{% block headcontent %}
<title>Infeasible</title>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <center><h2 style="font-weight: bolder; color: #FD5825;">Infeasible</h2></center>
    <form method="GET" action="/infeas">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="category">Phase</label>
                <select id="category" class="form-control" name="phase">
                  <option selected>Choose...</option>
                  {% for cat in PHASE %}
                  <option value="{{ cat }}">{{ cat }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="category">RDA</label>
                <select id="category" class="form-control" name="rda">
                  <option selected>Choose...</option>
                  {% for cat in RDA %}
                  <option value="{{ cat }}">{{ cat }}</option>
                  {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #3FABAF;">Search</button>
        </div>
    </form>        
    <table class="table" style="font-size:small;">
        <thead class="thead-dark" style="background-color: #3FABAF;">
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">RDA</th>  
              <th scope="col">Marketplace</th>
              <th scope="col">ProductType</th>
              <th scope="col">Domain</th>
              <th scope="col">Allocated Month</th>
              <th scope="col">Phase</th>
              <th scope="col">Feasibility</th>
              <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for uob in obj%}
            <form method="POST" class="post-form" style="box-sizing: content-box" form_type="new">
                {% csrf_token %} 
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{uob.rda}}</td>
                <input type="hidden" name="rda" value="{{uob.rda}}">
                <td>{{uob.marketplace}}</td>
                <input type="hidden" name="mk" value="{{uob.marketplace}}">
                <td>{{uob.product_type}}</td>
                <input type="hidden" name="pt" value="{{uob.product_type}}">
                <td>{{uob.domain}}</td>
                <input type="hidden" name="dm" value="{{uob.domain}}">
                <td>{{uob.allocated_month}}</td>
                <td>{{uob.phase}}</td>
                <td>{{uob.feasible}}</td>
                <td><button type="submit" style="background-color: #3FABAF;">Feasible</button></td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
   
</div>
{% endblock %}