{% extends 'smt_smpo_dashboard/main_navbar.html' %}
<!doctype html>
{% block content%}
<html lang="en">
  
<body>
<div class="jumbotron">
    <div>
        <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Add Attendence</b></h2></center>
        <table class="table">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">User</th>  
                  <th scope="col">Login Status</th>
                  <th scope="col">Login Date</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="form_type" value="add">
                    <td><select name="ass" required>
                        <option value="" selected disabled>--select--</option>
                        {% for mk in RDA %}
                            <option value="{{mk}}">{{mk}}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><select name="action" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Work from Home">Work from Home</option>
                        <option value="Work from Office">Work from Office</option>
                        <option value="Half Day">Half Day</option>
                        </select>
                    </td>
                    <td><input type="date" class="form-control" id="publishDateMax" name="date"></td>
                    
                    <td><button type="submit" style="background-color: #FD5825; color:white"><b>ADD LOG</b></button></td>
                </tr>
            </form>
            </tbody>
        </table>
        <table class="table">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Add Holiday</th>  
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="form_type" value="holiday">
                    <td><input type="date" class="form-control" id="publishDateMax" name="date"></td>
                    
                    <td><button type="submit" style="background-color: #FD5825; color:white"><b>ADD LOG</b></button></td>
                </tr>
            </form>
            </tbody>
        </table>
    </div> 
    </div>
    <div>
    <form method="GET" action="/log_atten">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="category">User</label>
            <select id="category" class="form-control" name="rda">
              <option selected>Choose...</option>
              {% for cat in RDA %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Timestamp Start Date</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Timestamp End Date</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #3FABAF;">Search</button>
    </form>
    </div>
    <center><h2 style="font-weight: bolder; color: #FD5825;">Attendence Log</h2></center>
                <table class="table">
                    <thead class="thead-dark" style="background-color: #3FABAF;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">USER</th>
                            <th scope="col">LOGIN STATUS</th>
                            <th scope="col">LOGIN TIME</th>
                            <th scope="col">BENCHMARK HOURS</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in qs %}
                        <form method="POST" class="post-form" style="box-sizing: content-box">
                        {% csrf_token %}
                        <tr>
                            <td>{{obj.pid}}</td>
                            <input type="hidden" name="id" value="{{obj.pid}}">
                            <td>{{obj.user}}</td>
                            <td>{{obj.sub_task}}</td>
                            <td>{{obj.timestamp}}</td>
                            <td>{{obj.productivity}}</td>
                            <td><button type="submit" class="btn btn-primary">Delete</button></td>   
                        </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
</div>   
</body>
</html>
{% endblock %}