{% extends 'smt_smpo_dashboard/main_navbar.html' %} 
{% block headcontent %}
<title>Daily Cost</title>
{% endblock %}

{% block content%}
<div id="login">
        <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                <form id="login-form" class="form" action="" method="POST">
                    {% csrf_token %}
                        <h3 class="text-center text-info">Select Date Range</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Start Date:</label><br>
                            <div class="form-row"><input type="date" class="hide-replaced" name="startDate" width="276" /></div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">End Date:</label><br>
                            <div class="form-row"><input type="date" class="hide-replaced"  name="endDate" width="276" /></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  style="background-color: #3FABAF;">
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="float:right">
    <ul>
        <li>WO: WeekOff</li>
        <li><font color="red">L: Leaves</font></li>
        <li><font color="green">P: Present</font></li>
        <li><font color="blue">HD: HalfDay</font></li>
    </ul>
</div>
<center><h1 style="font-weight: bolder; color: #FD5825;"><b>ScoreCard</b></h1></center>
<div class="jumbotron">
        <table class="table" style="font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Owner</th>  
                  <th scope="col">Role</th>
                  <th scope="col">Date</th>
                  <th scope="col">BS</th>
                  <th scope="col">BSV</th>
                  <th scope="col">PTC</th>
                  <th scope="col">PTV</th>
                  <th scope="col">Backfill-DQ</th>
                  <th scope="col">BEM</th>
                  <th scope="col">Publish-DQ</th>
                  <th scope="col">BEM</th>
                  <th scope="col">Publish-Manual</th>
                  <th scope="col">Adhoc Hours</th>
                  <th scope="col">Productive Hours</th>
                  <th scope="col">Avl.Hrs</th>
                  <th scope="col">Productivity(%)</th>
                  <th scope="col">Attendance</th>
                </tr>
            </thead>
            
            <tbody>
                {% for ml in master_list%}
                <tr>
                    {% for l in ml %}
                    <td><center>{{l|safe}}</center></td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr style="background-color:#3FABAF;">
                    {% for tot in total%}
                    <td><center>{{tot|safe}}</center></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}