{% extends 'smt_smpo_dashboard/main_navbar.html' %} 
{% block headcontent %}
<title>Welcome</title>
{% endblock %}
{% block content %}
<style type="text/css">
  .wrapper {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: -webkit-linear-gradient(#f593af,#d9c5cb);
  background: -o-linear-gradient(#f593af,#d9c5cb); /* Opera 11.1-12.0 */
  background: -moz-linear-gradient(#f593af,#d9c5cb); /* Firefox 3.6-15 */
  background: linear-gradient(#f593af,#d9c5cb); /* Standard syntax */

}
.btn{
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
</style>
<div class="wrapper fadeInDown">

   <div class="jumbotron">
        <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Welcome {{user}}</b></h2></center></div>
        <div class="container">
           <div class="jumbotron">
        <table class="table" style="font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">BS</th>
                  <th scope="col">BSV</th>
                  <th scope="col">PTC</th>
                  <th scope="col">PTV</th>
                  <th scope="col">Backfill-DQ</th>
                  <th scope="col">BEM-DQ</th>
                  <th scope="col">Publish-DQ</th>
                  <th scope="col">Backfill-Manual</th>
                  <th scope="col">BEM-Manual</th>
                  <th scope="col">Publish-Manual</th>
                  
                </tr>
            </thead>
            
            <tbody>
                {% for ml in master_list%}
                <tr>
                    {% for l in ml %}
                    <td><center>{{l|safe}}</center></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
           </div></div>
        <!--<table class="table" style="font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col">Month</th>
                  <th scope="col">No. of Unique Domains</th>
                  <th scope="col">No. of Scrapes</th>
                  <th scope="col">No. of ASINS</th>
                </tr>
            </thead>
            <tbody>
              {% for ob in summary %}
                <tr>
                  <th scope="row">{{ob.0}}</th>
                  <td>{{ob.1}}</td>
                  <td>{{ob.2}}</td>
                  <td>{{ob.3}}</td>
                </tr>
              {% endfor %}
              <tr style="background-color: #3FABAF;">
                <th scope="col">Year2020</th>
                {% for i in tot %}
                <th scope="col">{{i}}</th>
                {% endfor %}
              </tr>
            </tbody>
        </table>
    </div>-->
  {% endblock %}
