{% extends 'smt_smpo_dashboard/main_navbar.html' %} 
{% block headcontent %}
<title>PTV_Metrics</title>
{% endblock %}
{% block content%}
<div class="jumbotron">
    <center><h2 style="font-weight: bolder; color: #FD5825;"><b>Metrics update - PTV</b></h2></center>
    <div style="overflow-x: scroll;margin-left: 5em;overflow-y: visible;padding: 0;">
        <table class="table" style="border-collapse: separate; border-spacing: 0; border-top: 1px solid grey;font-size:small;">
            <thead class="thead-dark" style="background-color: #3FABAF;">
                <tr>
                  <th scope="col" style="position: absolute;column-width: inherit;width: 5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">Brand</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Website</th>
                  <th scope="col">Selection size</th>
                  <th scope="col">No Parent</th>
                  <th scope="col">No Bundle</th>
                  <th scope="col">PTV Comments</th>
                  <th scope="col">Status</th>
                  <th scope="col">PTV File name</th>
                  <th scope="col">PTV Inaccurate selection</th>
                  <th scope="col">PTV sample selection</th>
                  <th scope="col">No PT</th>
                  <th scope="col">No Distinct title</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody>
                {% for uob in obj %}
                <form method="POST" class="post-form" style="box-sizing: content-box">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="id" value="{{uob.bid}}">
                    <td style="position: absolute;column-width: inherit;width:5em;left: 0;top: auto;border-top-width: 1px;margin-top: -1px;">{{uob.brand}}</td>
                    <td></td>
                    <td></td>
                    <td>{{uob.website}}</td>
                    <td><input type="text" name="ptv_selection_size" required></td>
                    <td><input type="text" name="parent_count" required></td>
                    <td><input type="text" name="bundle_count" required></td>
                    <td><input type="text" name="ptv_comments" required></td>
                    <td><input type="text" name="ptv_status" required></td>
                    <td><input type="text" name="ptv_file_name" required></td>
                    <td><input type="text" name="ptv_inaccurate_selection" required></td>
                    <td><input type="text" name="ptv_sample_selection" required></td>
                    <td><input type="text" name="no_pt" required></td>
                    <td><input type="text" name="distinct_title" required></td>
                    <td><button type="submit" style="background-color: #3FABAF;">save</button></td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}


